
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>
    <!-- CKEditor JS file -->
    <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
    <!-- CKEditor manual file -->
    <script src="/ckeditor.js"></script>
</body>

</html>